.tipList {
    flex-basis: 20%;
    padding-left: 4em;
}

.tipList__header {
    margin-bottom: 2em;
}

.tip {
    flex-basis: 25%;
    margin: 1em 0;
}

.tip__category {
    font-size: 0.8em;
    font-style: oblique;
    padding-top: 1em;
}